<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Test Report Upload</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>

    <style>
		.container {
            margin-left: auto;
            margin-right: auto;
        }
        .row {
            margin-top: 20px;
        }





    </style>
</head>

<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/v1/excel/report}">
            <img src="../static/images/img.png"
                 th:src="@{/images/img.png}"
                 width="30" height="30"
                 class="d-inline-block align-top"
            >
            Learn365
        </a>
        <br>
    </div>
</nav>

<div class="container">
    <div align="center">
        <form method="POST" enctype="multipart/form-data" action="/v1/excel/upload" th:object="${metadata}"
              id="testForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Grade Name: </label>
                        <input type="text" id="gradeName" name="gradeName" th:field="*{gradeName}"
                               th:value="${metadata.gradeName}" style="background: #C5C5C5" readonly>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Subject Name: </label>
                        <input type="text" id="subjectName" name="subjectName" th:field="*{subjectName}"
                               th:value="${metadata.subjectName}" style="background: #C5C5C5" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Test Type: </label>
                        <input type="text" id="testType" name="testType" th:field="*{testType}"
                               th:value="${metadata.testType}" style="background: #C5C5C5" readonly>
                    </div>
                </div>
                <div class="col-md-6" th:if="${chapterList}">
                    <div class="form-group">
                        <label>Chapter Names: </label>
                        <select th:field="*{testSelectorKey}">
                            <option th:each="p : ${chapterList}" th:value="${p.key}" th:text="${p.val}"/>
                        </select>
                        <br>
                        <span th:if="${#fields.hasErrors('testSelectorKey')}" th:errors="*{testSelectorKey}" style="color:red">Concept Video Id value Error</span>
                    </div>
                </div>
                <div class="col-md-6" th:if="${videoList}">
                    <div class="form-group">
                        <label>Concept Refresher Video List: </label>
                        <select th:field="*{testSelectorKey}">
                            <option th:each="p : ${videoList}" th:value="${p.key}" th:text="${p.val}"/>
                        </select>
                        <br>
                        <span th:if="${#fields.hasErrors('testSelectorKey')}" th:errors="*{testSelectorKey}" style="color:red">Concept Video Id value Error</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8" style="float:none;margin:auto;">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="customFile">
                            <label class="custom-file-label" for="customFile">Choose excel file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" align="center">
                <div class="col-mb-6" style="float:none;margin:auto;">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <input type="button" class="btn btn-secondary" onclick="myFunction()" value="Reset">
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/assets/custom-file-input/bs-custom-file-input.js}"></script>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

<script>
    bsCustomFileInput.init();




</script>
<script>
function myFunction() {
  document.getElementById("testForm").reset();
}




</script>
</body>

</html>